html {
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap');

*, *:before, *:after {
    box-sizing: inherit;
}

body{
    font-family: 'PT Sans Narrow', sans-serif;
}

.contenedor{
    width: 95%;
    max-width: 1100px;
    margin: 0 auto;
}

img{
    width: 100%;
}

.negrita{
    font-size: 1.2rem!important;
}

/****** Navegacion ******/
header{
    background: -moz-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0.4) 100%
  ); /* FF3.6-15 */
  background: -webkit-linear-gradient(
    -45deg,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0.4) 100%
  ); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(
    135deg,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0.4) 100%
  ); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */
}

header .brand img{
    height: 60px;
    padding-right: 1.5rem;
}

.section-main{
position: relative;
width: 100%;
min-height: 100vh;
background: linear-gradient(to bottom, rgba(33, 81, 97, 0.8), rgba(0,0,0,0.4)), 
url(../img/semi-trailers-534577_1920.jpg) no-repeat;
background-size: cover;
background-position: center;
display: flex;
justify-content: center;
align-items: center;
padding: 20px 80px;
}

.section-main h2{
    color: rgba(225, 236, 225, 0.8);
    font-size: 2.7rem;
    font-weight: 800;
    text-transform: uppercase;
    letter-spacing: 2px;
    line-height: 80px;
    text-shadow: 0 0 3px #fff, 0 0 3px #000000;
    padding-top: 35rem

}

header{
z-index: 999;
position: fixed;
top: 0;
left: 0;
width: 100%;
display: flex;
justify-content: space-between;
align-items: center;
padding: 20px 80px;
transition: 0.6s;
}

header.down{
background-color: rgb(46, 153, 153);
padding: 15px 80px;
box-shadow: 2px 2px 10px 2px gray;
align-items: center;
}

header .brand{
color: #fff;
font-size: 30px;
font-weight: 700;
text-transform: uppercase;
text-decoration: none;
letter-spacing: 2px;
}

header .menu{
position: relative;
display: flex;
align-items: center;
justify-content: center;
}

header .menu ul{
position: relative;
display: flex;
justify-content: center;
align-items: center;
}

header .menu ul li{
    list-style: none;
}

header .menu a{
color: #fff;
font-weight: 600;
text-transform: uppercase;
font-size: 16px;
font-weight: 500;
text-decoration: none;
margin: 0 30px;
padding: 7px 12px;
border-radius: 20px;
transition: 0.3s;
transition-property: color, background;
}

header .menu a:hover{
    color: #000;
    background: #fff;

}

.section-two{
    padding: 20px;
}
.pag_anexa{
    background-color: rgb(46, 153, 153);
}

.ttl{
    margin-top: 10rem;
    text-align: center;
    font-size: 2.5rem;
}

header .btn{
    color: #fff;
    font-size: 25px;
    cursor: pointer;
    display: none;
}

@media (max-width: 991px){
    header, header.down{
        padding: 20px 40px;
}
header .btn{
    display: block;
}

header .menu{
    position: fixed;
    background:rgb(20, 43, 43);
    min-width: 330px;
    height: 100vh;
    top: 0;
    right: -100%;
    /* padding: 80px 50px; */
    transition: 0.5s;
    transition-property: right;
}

header .menu ul{
    flex-direction: column;
}

header .menu.active{
    right: 0;
}

header .menu .close-btn{
    position: absolute;
    top: 0;
    left: 0;
    margin: 25px;
}

header .menu a{
    display: block;
    font-size: 20px;
    margin: 20px;
    padding: 0 15px;
}
}

@media (max-width: 600px){
.section-main h2{
    padding-top: 28rem;
    font-size: 30px;
    line-height: 45px;
    }
    
}


.img-contacto h2{
    color: white;
    font-size: 3rem;
}
.img-contacto p{
    color: white;
}

/****** Pagina Principal ******/
hr{
    width: 85%;
    border-color: mediumvioletred;
}

.seccion{
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

.centrar-texto{
    text-align: center;
}
.seccion h2{
    font-size: 2.5rem;
    margin: 3rem 0;
}

@media (min-width: 768px) {
    .contenedor-anuncios{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    .contenedor-anuncios_nosotros{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem;
    }
    .contenido-nosotros{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-column-gap: 2rem;
    }
}

.mision{
    color: teal;
    text-align: center;
}
.texto-nosotros blockquote{
    font-weight: 900;
    font-size: 1.7rem;
    margin: 0;
    padding: 0 3rem 3rem 0;
}

.texto-nosotros p{
    font-size: 1.1rem;
    margin-top: -2rem;
    line-height: 1.5;
    text-align: justify;
}

.contenido-anuncio p{
    font-size: 1.1rem;
    margin-top: 1.3rem!important;
    line-height: 1.5;
}
.anuncio{
    flex-shrink: 0;
    border-color: #B5B5B5;

    background-color: #F3F2F2;
    margin-bottom: 2rem;

    -webkit-box-shadow: 0px 3px 8px 4px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 3px 8px 4px rgba(0,0,0,.5);
    box-shadow: 0px 3px 8px 4px rgba(0,0,0,.5);
    border-radius: 10px;
}

.seccion h1{
    font-size: 2.5rem;
    font-weight: bold;
}

.anuncio .contenido-anuncio ul li{
    font-size: 1.2rem;
    line-height: 1.7rem;
}
.anuncio .contenido-anuncio h3{
    font-size: 1.6rem;
    font-weight: bold;
}

@media (min-width: 768px) {
    .anuncio{
        flex-basis: calc(33.3% - 1rem);
    }
    
}
.contenido-anuncio{
    padding: 2rem;
}
.contenido-anuncio h3, .contenido-anuncio p{
    margin: 0;
}


.img-contacto{
    background: linear-gradient(to bottom, rgba(33, 81, 97, 0.8), rgba(0,0,0,0.4)), url(../img/juliano-beltran-f3qacM9gMt0-unsplash.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    height: 25rem;
    display: flex;
    align-items: center;
    background-attachment: fixed;
}

.img-contacto h2{
    font-size: 2.2rem;
    margin: 0;
}
.img-contacto p{
    font-size: 1.5rem!important;
}

.btn_cot{
    margin-top: 3rem;
}

.boton{
    color: white;
    font-weight: 700;
    text-decoration: none;
    font-size: 1.8rem;
    padding: 1rem 3rem;
    border: none;
    border-radius: 1rem;
    background-color: rgb(197, 38, 10);
    display: block;
    text-align: center;
}


@media (min-width: 768px) {
    .boton{
        display: inline-block;
        flex: 0 0 auto;
    }
    
    .btn_cot{
        margin-top: 3rem;
    }

    .img-contacto{
        background: linear-gradient(to bottom, rgba(33, 81, 97, 0.8), rgba(0,0,0,0.4)), url(../img/juliano-beltran-f3qacM9gMt0-unsplash.jpg) no-repeat;
        background-position: center center;
        background-size: cover;
        height: 20rem;
        display: flex;
        align-items: center;
        background-attachment: fixed;
    }
}

.mapaa{
    width: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 2rem;
    padding-bottom: 2rem;
}

#map h2{
    font-size: 2.5rem;
}

.footer{
    background-color: rgb(20, 43, 43);
    display: block;
    padding: .2rem 0;
    margin: 1.4rem 0 0 0;
    color: white;
    font-weight: bold;
    font-size: .8rem;
}

.footer p{
    line-height: 1.3;
}

@media (min-width: 768px) {
    .footer{
        font-size: 1.2rem;
    }

}

/****** Formulario de solicitud ******/

form{
    margin-top: 10rem;
}

fieldset {
    -webkit-box-shadow: 0px 3px 8px 3px rgba(0,0,0,.5);
    -moz-box-shadow: 0px 3px 8px 3px rgba(0,0,0,.5);
    box-shadow: 0px 3px 8px 3px rgba(0,0,0,.5);
    border-radius: 10px;
}

fieldset legend {
    display: flex;
    margin: 0 1rem 0 2rem;
    align-items: center;
}

fieldset legend img{
    width: 25%;
}
fieldset legend h1{
    font-size: 1.2rem;
    margin-left: 1rem;
}
  
@media (min-width: 768px) {
    fieldset legend img{
        text-align: left;
        max-width: 50%;
    }

    fieldset > legend > h1{
        font-size: 2rem;
        margin-left: 1rem;
    }
}

.campo{
    padding: .5rem 0;
}

.campo label,
.campo p
{
    margin-left: .8rem;
    padding: .5rem 0;
    font-size: 1.3rem;
    margin-top: 0;
}

.campo input[type=text],
.campo input[type=tel],
.campo input[type=email],
.campo input[type=password],
textarea
{
    width: 100%;
    border: none;
    border-radius: .8rem;
    background-color: #e1e1e1;
    padding: 1rem;
    height: 2.8rem;
    margin-top: .5rem;
    font-size: 1.3rem;
}

textarea{
    height: 5.6rem;
}

.campo input[type=date],
.campo input[type=time]{
    border: none;
    border-radius: .8rem;
    background-color: #e1e1e1;
    padding: 1rem;
    margin-left: 1rem;
    font-size: 1.3rem;
    width: 70%;
}

select{
    border: none;
    border-radius: .8rem;
    background-color: #e1e1e1;
    padding: 1rem;
    appearance: none;
    font-size: 1.3rem;
    width: 100%;
}

span{
    font-size: 1.3rem;
    font-weight: bold;
    margin: 0;
    margin-left: .8rem;
}

.frmRadio{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
}

.frmRadioM{
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1.1rem;
}

.frmOfertas{
    display: flex;
    align-items: center;
    margin: 1rem 0 0 1rem;
    font-size: 1.2rem;
}

.frmOfertas label{  
    margin-left: 1.3rem;
}

.input_100 p{
    margin: 0 0 0 .8rem;
    line-height: 2rem;
}

.enviar{
    margin-top: 1.2rem;
    display: flex;
    justify-content: flex-end;
}

.campo input[type=submit]{
    background-color: rgb(54, 180, 54);
    border: none;
    border-radius: .5rem;
    color: white;
    padding: 1rem 4rem;
    text-transform: uppercase;
    font-size: 1.2rem;
    transition: background-color .5s ease-in-out;
    flex: 1;
    font-weight: bold;
}

.campo input[type=submit]:hover{
    cursor: pointer;
    background-color: rgb(23, 119, 23);
}

@media (min-width: 768px){
    .campos3{
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .campo input[type=submit]{
        flex: 0 0 auto;
    }

    .campos3 .campo{
        flex: 0 0 calc(33.3% - 1rem);
    }

    .campos2{
        margin-top: 1rem;
        display: flex;
        justify-content: space-between;
    }

    .campos2 .campo{
        flex: 0 0 calc(50% - 1rem);
    }

    .input_100{
        width: 100%;
        margin-top: 1rem;
    }

    .frmRadio{
        width: 80%;
        justify-content: space-evenly;
        margin: 1.3rem 0 1.5rem 0;
    }

    .frmRadioM{
        width: 80%;
        justify-content: space-evenly;
        margin: 1.3rem 0 1.5rem 0;
    }

    .valorMercancia{
        margin-left: 2rem;
        width: 45%!important;
    }

    #maniobras, #noManiobras{
        margin-left: .5rem;
    }

    #noAsegurar, #asegurar{
        margin-left: .5rem;
    }

    .campM{
        margin-top: 0;
    }
}

.mostrar{
    display: none;
}

.mostrar p{
    margin: 0;
}

.mostrar span{
    color: rgb(148, 9, 9);
}

.mostrarManiobras span{
    color: rgb(148, 9, 9);
}

.mostrarManiobras {
    display: none;
}

.errors {
    width: 100%;
    display: none;
    background-color: rgb(185, 0, 0);
    text-align: center;
    padding: 0.7rem;
    color: #faebeb;
    text-transform: uppercase;
    margin-top: 1.2rem;
    font-size: 1.2rem;
  }

.errors_folio{
    width: 100%;
    background-color: rgb(185, 0, 0);
    text-align: center;
    padding: 0.7rem;
    color: white;
    text-transform: uppercase;
    margin-top: 8rem;
    font-weight: bold;
    font-size: 1.4rem;
  }
  
  .errors li {
    padding-top: 1rem;
  }

.corrects{
    width: 100%;
    display: none;
    background-color: rgb(0, 185, 46);
    text-align: center;
    padding: 0.7rem;
    color: white;
    font-weight: bold;
    text-transform: uppercase;
    margin-top: 1.2rem;
    font-size: 1.5rem;
}

.corrects li {
    padding-top: 1rem;
}


/********* Actualizar solicitud *********/
.ingresarFolio{
    margin: 0 auto;
    margin-top: 9.3rem;
}

.imagen{
    margin: 0 auto;
    margin-top: 1.5rem;
}

.campo_folio{
    margin-top: 1.5rem;
    text-align: center;
}

@media (min-width: 768px) {
    
    .imagen{
        margin: 0 auto;
        margin-top: 3rem;
        text-align: center;
        width: 70%;
    }

    .ingresarFolio{
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-items: center;
        gap: 1.4rem;
    }
    .ingresarFolio label{
        margin-right: -1.75rem!important;
    }

    .campo_enviar{
        width: 50%;
    }
}

.campo_enviar{
    font-weight: bold;
    font-size: 1.5rem;
    background-color: rgb(25, 196, 25);
    padding: .6rem;
    border-radius: 14px;
    transition: 1s ease;
}

.campo_enviar:hover{
    background-color: rgb(19, 138, 19);
    cursor: pointer;
}

.campo_enviar a{
    text-decoration: none;
    color: white;
}

.folioSolicitu{
    font-weight: bold;
    font-size: 1.3rem;
}

.ingresarFolio input[type=text]{
    border: none;
    border-radius: .8rem;
    background-color: #e1e1e1;
    padding: .6rem;
    width: 100%!important;
    font-size: 1.5rem;
}

.idChofer{
    color: rgb(21, 9, 196); 
    font-size: 2.1rem; 
    font-weight: bold;
}

.id{
    border: none!important;
    color: rgb(21, 9, 196)!important;
    font-weight: bold;
    margin-left: 1.3rem;
    width: 20%;
    padding: 1.2rem;
    font-size: 2rem;
}

.CampoId {
    margin-left: 2.5rem;
}

.CampoId input[type=text]{
    margin-left: 0;
    background-color: transparent;
}


