body{
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to bottom, rgba(16, 23, 26, 0.6), rgba(0,0,0,0.4)), url(../../img/fondo-traile1.jpg) no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
}

.login-box{
    width: 370px;
    height: 470px;
    background-image: radial-gradient(circle at 55.61% 40.29%, #523481 0, #2d1f5b 25%, #0c0635 50%, #000013 75%, #000000 100%);
    color: #fff;
    top: 58%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
    padding: 70px 30px;
    border-radius: 15px;
}

.login-box .avatar{
    width: 144px;
    height: 120px;
    border-radius: 50%;
    position: absolute;
    top: -50px;
    left: calc(45% - 50px);
}

.login-box h1{
    margin: 0 0 15px 0;
    padding: 20px 0 ;
    text-align: center;
    font-size: 35px;
}

.login-box label{
    margin: 0;
    padding: 0;
    font-weight: bold;
    display: block;
    font-size: 25px;
    margin-bottom: 6.5px;
}

.login-box input{
    width: 100%;
    margin-bottom: 20px;
    font-size: 20px;
    color: white;
}
.login-box label:last-of-type{
    margin-top: 15px;
}

.login-box input[type="text"],
.login-box input[type="password"]{
    border: none;
    border-radius: 2px;
    border-bottom: 1px solid #fff;
    background-color: transparent;
    padding: 5px 0 5px 7px;
}

.formulario__submit{
    margin-top: 20px;
    background-color: rgb(78, 155, 15);
    font-weight: bold;
    cursor: pointer;
    padding: 10px 0;
    font-size: 27px!important;
    transition: .3s ease-in;
    text-transform: uppercase;
    border: none;
    border-radius: 12px;
}

.formulario__submit:hover{
    background-color: rgb(57, 100, 21);
}

h2{
    width: 100%;
    background-color: rgb(185, 0, 0);
    text-align: center;
    padding: 0.7rem;
    color: #faebeb;
    text-transform: uppercase;
    margin-top: 1.2rem;
    font-size: 1.2rem;
    display: block;
  }
